@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* Applique un fond de couleur à la barre de navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Couleur de fond de la barre de navigation */
    height: 50px; /* Hauteur de la barre de navigation */
  }
  
  /* Style pour chaque élément de la liste */
  nav ul li {
    display: inline; /* Afficher les éléments en ligne */
    margin-right: 20px; /* Espacement entre les éléments de la liste */
    line-height: 50px; /* Centrer verticalement le texte dans chaque élément */
  }
  
  /* Style pour les liens dans les éléments de la liste */
  nav ul li a {
    text-decoration: none; /* Supprimer la soulignement par défaut des liens */
    color: white; /* Couleur du texte des liens */
    font-weight: bold; /* Texte en gras */
    padding: 0 10px; /* Espacement horizontal des liens */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, color 0.3s; /* Transition pour le survol des liens */
  }
  
  /* Changement de style au survol des liens */
  nav ul li a:hover {
    background-color: white; /* Fond blanc au survol */
    color: #333; /* Texte noir au survol */
  }
  
#the-first-one{
    background-color: #f3824e;
    margin: 20px;
    border-radius: 20px;
}
.un h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.un p,.deux p{
    padding-top: 12px;
    padding-left: 40px;
    font-size: large;

}
.photo1 , .photo2{
    padding-left: 40%;
    padding-right: 30%;
    padding-top: 12px;
    padding-bottom: 10px;
}
.photo2{
    width: 350px;
}
#the-deuxieme{
    background-color: #f3b14e;
    border-radius: 20px;
    margin: 20px;
}
#the-deuxieme p{
    font-size:large ;
    padding: 10px;
}
#the-troisieme-part{
    background-color: #f3cd4e; 
    border-radius: 20px;
    margin: 20px;
}
#the-troisieme-part h3{
    padding: 10px;
    padding-left: 60px;
}
#the-troisieme-part ol,ul{
    padding-left: 100px;
}
#the-dernier-part{
    background-color:#c2f34e;
    border-radius: 20px;
    margin: 20px;
}
.formulaire {
    width: 100%; 
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}
.input-size{
    width: 200px;
    height: 30px;
    font-size: 20px;
    
}
.bouton{
    display: block;
    background-color: orange;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 10px 20px; 
    width: 140px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}
.nos-information {
    font-size: 18px; 
    padding: 10px;
    
}



